%html
  %head
    %title= title
    <link href='http://fonts.googleapis.com/css?family=IM+Fell+Great+Primer+SC' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=IM+Fell+English+SC' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    %script{src : 'http://code.jquery.com/jquery-1.4.2.js'}
    %script{src : '/public/javascript/json2.js'}
    %script{src : '/public/javascript/ledger_ui.js'}
    %link{rel : 'stylesheet', href: '/layout.css',type: 'text/css'}
    %link{rel : 'stylesheet', href: '/ledger.css',type: 'text/css'}
  %body
    #wrapper
      != body

