%h1= title
.ledger
  .list
    %form#create_ledger_form.item
      .name
        %label Name
        %input.text{type:"textfield"}
      .amount
        %label Amount
        %input.dollars{type:"textfield"}

